<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062076287247-vtvsblehpi747h03lslrfepe82celgse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062076287247-vtvsblehpi747h03lslrfepe82celgse</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1062076287247-a8f0kgvlesnk027ified672h29c73rn5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALsdOky6tF-nphoUo688bL00F6THFfRzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1062076287247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicrueda.wisdom</string>
	<key>PROJECT_ID</key>
	<string>wisdom-quiz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wisdom-quiz-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062076287247:ios:a434bcf9cf75eaa5cb167a</string>
</dict>
</plist>